.button
{
    -fx-background-color : #3F2B63;
}
.button:hover
{
    -fx-background-color : #2A1C42;
}
.button:pressed
{
    -fx-background-color : #7156DD;
}
.button:focused
{
    -fx-background-color: #7156DD;
    -fx-border-color: #CDD1D6;
    -fx-border-width: 0px 0px 0px 3 px;
}

/*.date-picker .text-field {*/
/*    -fx-control-inner-background: white ;*/
/*}*/

.date-picker > .text-field {
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 2 0 0 2;
}

/*.date-picker:focused > .text-field,*/
/*.date-picker > .text-field:focused {*/
/*    -fx-background-color: white;*/
/*    -fx-background-insets: 0 0 0 0, 0 0 0 0 , 0 0 0 0;*/
/*    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;*/
/*}*/

/*.date-picker > .arrow-button {*/
/*    -fx-padding: 0px;*/
/*}*/

/*.date-picker > .arrow-button > .arrow {*/
/*    -fx-padding: 0px;*/
/*}*/
/*.date-picker > .date-picker-display-node {*/
/*    -fx-background-insets: 1 1 1 1;*/
/*}*/

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: #7156dd;
}
.table-view .column-header .label{

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white ;

}
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(  #2D75E8,80%);
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

/*success*/

.button.success,.split-menu-button.success,.toggle-button.success,.menu-button.success,
.split-menu-button.success > .label, .split-menu-button.success > .arrow-button {
    -fx-background-color: #5cb85c;
}

.button.success,.menu-button.success,.toggle-button.success,
.split-menu-button.success > .label,.split-menu-button.success > .arrow-button {
    -fx-border-color: #4cae4c;
    -fx-text-fill: white;
}
/*hover state*/
.button.success:hover,.menu-button.success:hover,.toggle-button.success:hover,
.split-menu-button.success > .label:hover, .split-menu-button.success > .arrow-button:hover {
    -fx-border-color: #398439;
    -fx-background-color: #449d44;
}
/*pressed selected*/
.button.success:pressed, .button.success:selected,
.menu-button.success:pressed,.menu-button.success:selected
,.toggle-button.success:pressed,.toggle-button.success:selected,
.split-menu-button.success:pressed > .label, .split-menu-button.success > .arrow-button:pressed {
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
    -fx-effect: innershadow(gaussian, #398439, 10, 0, 0, 3);
}

/*danger*/

.button.danger,.split-menu-button.danger,.toggle-button.danger,.menu-button.danger,
.split-menu-button.danger > .label, .split-menu-button.danger > .arrow-button {
    -fx-background-color: #d9534f;
}

.button.danger,.menu-button.danger,.toggle-button.danger,
.split-menu-button.danger > .label,.split-menu-button.danger > .arrow-button {
    -fx-border-color: #d43f3a;
    -fx-text-fill: white;
}
/*hover state*/
.button.danger:hover,.menu-button.danger:hover,.toggle-button.danger:hover,
.split-menu-button.danger > .label:hover, .split-menu-button.danger > .arrow-button:hover {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
}
/*pressed selected*/
.button.danger:pressed, .button.danger:selected,
.menu-button.danger:pressed,.menu-button.danger:selected
,.toggle-button.danger:pressed,.toggle-button.danger:selected,
.split-menu-button.danger:pressed > .label, .split-menu-button.danger > .arrow-button:pressed {
    -fx-border-color: #ac2925;
    -fx-background-color: #c9302c;
    -fx-effect: innershadow(gaussian, #ac2925, 10, 0, 0, 3);
}

/*info*/

.button.info,.split-menu-button.info,.toggle-button.info,.menu-button.info,
.split-menu-button.info > .label, .split-menu-button.info > .arrow-button {
    -fx-background-color: #5bc0de;
}

.button.info,.menu-button.info,.toggle-button.info,
.split-menu-button.info > .label,.split-menu-button.info > .arrow-button {
    -fx-border-color: #46b8da;
    -fx-text-fill: white;
}
/*hover state*/
.button.info:hover,.menu-button.info:hover,.toggle-button.info:hover,
.split-menu-button.info > .label:hover, .split-menu-button.info > .arrow-button:hover {
    -fx-border-color: #269abc;
    -fx-background-color: #31b0d5;
}
/*pressed selected*/
.button.info:pressed, .button.info:selected,
.menu-button.info:pressed,.menu-button.info:selected
,.toggle-button.info:pressed,.toggle-button.info:selected,
.split-menu-button.info:pressed > .label, .split-menu-button.info > .arrow-button:pressed {
    -fx-background-color: #31b0d5;
    -fx-border-color: #269abc;
    -fx-effect: innershadow(gaussian, #269abc, 10, 0, 0, 3);
}